<div class="container" *ngIf="product">
  <div class="row">
    <img
      id="img"
      class="card-img-top"
      [src]="product.imageUrl"
      [title]="product.productName"
    />
    <hr />
    <div>
      <p>
        Name:
        {{ product.productName }}
      </p>
    </div>
    <div>
      <p>
        Description
        {{ product.description }}
      </p>
    </div>
    <div>
      <p>
        Product Code :
        {{ product.productCode | lowercase | convertToSpaces: "-" }}
      </p>
    </div>
    <div>
      <p>Release date : {{ product.releaseDate }}</p>
    </div>
    <div>
      <p>
        Product price :
        {{ product.priceStartsAt | currency: "GBP":"symbol":"1.2-2" }}
      </p>
    </div>

    <div>
      <button class="btn btn-info" style="width: 80px">
        <i class="fa fa-chevron-left"></i>Back
      </button>
    </div>
  </div>
</div>
